.contacts {
    padding: 88px 0 143px 0;
    min-height: 574px;
    &__title {
        margin: 0 auto;
        width: 700px;
        font-size: 64px;
        font-weight: 700;
        color: #0c6c44;
        text-align: center;
    }
    &__form {
        margin: 0 auto;
        margin-top: 62px;
        padding: 18px 18px 18px 35px;
        max-width: 790px;
        border-radius: 57px;
        box-shadow: 0 8px 80px 0 rgba(0, 0, 0, 0.06);
        background-color: #ffffff;
        display: flex;
        input {
            padding: 0 6px;
            flex-grow: 1;
            font-size: 22px;
            color: #4b4f51;;
            border: none;
        }
    }
    &__button {
        margin-left: 18px;
    }
}