.header {
    padding-top: 31px;
    padding-bottom: 155px;
    min-height: 1061px;
    background: #fff8f8 url("../img/header-bg.svg") center (center/cover) no-repeat;
    &__logo {
        display: block;
        width: 192px;
        img {
            max-width: 100%;
        }
    }
    &__label {
        margin-top: 315px;
    }
    &__title {
        margin-top: 35px;
        width: 660px;
    }
    &__descr {
        margin-top: 29px;
        width: 660px;
    }
    &__button {
        margin-top: 54px;
    }
}