@media (max-width: 1519px) {
    .header {
        &__descr {
            width: 655px;
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &__title {
            width: 600px;
            font-size: 50px;
        }
        &__descr {
            width: 520px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__wrapper {
            padding-left: 0;
        }
        &__logo {
            margin-left: 0;
            width: 150px;
        }
        &__title {
            width: 575px;
            font-size: 48px;
            line-height: 70px;
        }
        &__descr {
            width: 412px;
            font-size: 23px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 192px;
        }
        &__label {
            margin-top: 450px;
        }
        &__title {
            width: 100%;
            font-size: 46px;
            line-height: 68px;
        }
        &__descr {
            width: 295px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fff8f8 100%, #b57474 100%);
        &__logo {
            width: 170px;
        }
        &__label {
            margin-top: 230px;
            font-size: 30px;
        }
        &__title {
            margin-top: 18px;
            font-size: 38px;
            line-height: 55px;
        }
        &__descr {
            width: 100%;
            font-size: 20px;
            line-height: 35px;
        }
    }
}