@media (max-width: 1519px) {
    .header {
        &__descr {
            width: 655px;
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &__title {
            width: 620px;
            font-size: 50px;
        }
        &__descr {
            width: 520px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__title {
            width: 575px;
            font-size: 48px;
            line-height: 70px;
        }
        &__descr {
            width: 440px;
            font-size: 23px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        min-height: 1276px;
        &__logo {
            width: 192px;
        }
        &__label {
            margin-top: 410px;
        }
        &__title {
            width: 100%;
            font-size: 46px;
            line-height: 68px;
        }
        &__descr {
            width: 295px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        min-height: 1120px;
        background: #fff8f8;
        &__logo {
            width: 170px;
        }
        &__label {
            margin-top: 230px;
        }
        &__title {
            font-size: 41px;
            line-height: 68px;
        }
        &__descr {
            width: 100%;
            font-size: 20px;
            line-height: 40px;
        }
    }
}